# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Virtualenv
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# Flask instance folder
instance/

# Secrets
.env

# Local Docker compose for development (ignored)
docker-compose.local.yml
